@import "tailwindcss";

@theme {
  /* Color theme for our application. */
  --color-primary: #0059ff;
  --color-primary-dark: #00205b;
  --color-secondary: #7bc950;
  --color-accent: #a31621;
  --color-accent-dark: #d0021b;
  --color-highlight: #fdecef;
  --color-text-dark: #110b11;
  --color-background: #fcfafa;

  /* This sets default fonts for the entire application. */
  --font-sans: Poppins, sans-serif;

  /* Font Sizes */
  --text-hero: 4.5rem;
  --text-page: 3rem;
  --text-sub: 2rem;
  --text-head: 1.5rem;
  --text-subhead: 1.25rem;
  --text-body: 1rem;
  --text-small: 0.875rem;
  --text-code: 1rem;
}

html,
body {
  height: 100%;
  margin: 0;
}

.background {
  background:
    url("/honeycomb-bg.png") no-repeat center/cover,
    linear-gradient(63deg, var(--color-primary-dark), var(--color-primary));
  background-blend-mode: soft-light, normal;
}
